doctype html
header
  button(id='logout') Logout
main(id='task-manager')
  div(id='controls')
    form(id='create-task')
      label(for='task') Create task
      input(id='task' name='task' required placeholder='What do you need to do?')
      input(type='submit')
  div(id='content')
    ul(id='todos')
      each todo in todos
        li(data-id=todo.id)
          button(class='delete-task') X
          div(contenteditable) #{todo.task}
