@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #212326;
  font-size: 18px;
}

form input:not([type=submit]) {
  width: 85%;
  height: 2em;
  font-size: 14px;
}

form input[type=submit] {
  margin-left: 1em;
  padding: 0.5em 0.8em;
  border: 0;
  background-color: #b50000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}

form input[type=submit]:active,
form input[type=submit]:focus,
form input[type=submit]:hover {
  background-color: #e22;
}

#content,
#controls {
  background-color: #eaeaea;
  margin: 0 auto;
  padding: 1em;
  width: 50vw;
}

#create-task label {
  display: block;
  margin-bottom: 0.3em;
  width: 50%;
  font-size: 20px;
}

#content {
  margin-top: 1em;
}

#todos {
  padding: 0;
  margin: 0;
}

#todos li {
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0.4em auto;
}

.delete-task {
  align-self: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}

.delete-task:hover {
  font-weight: 800;
}

#todos div[contenteditable] {
  width: calc(100% - 1em);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #cacaca;
  font-size: 14px;
}

#logout {
  float: right;
}

#logout a {
  color: black;
}

#logout a:hover {
  color: #e22;
}